@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    font-family: 'Kalam', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;

}

html{
    overflow-x: hidden;
    font-size: 62.5%;
    
}

.contact .row
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .row .contact-info .box
{
    margin: 4rem 2rem;
}

.contact .row .contact-info .box h3
{
    font-size: 2rem;
    color: #333;
}

.contact .row .contact-info .box h3 i
{
    color: #0098a1;
}

.contact .row .contact-info .box p
{
    padding-left: 3rem;
    font-size: 1.7rem;
    color: #aaa;
}

.contact .row .contact-form-container
{
    width: 50%;
}

.contact .row .contact-form-container h3
{
    font-size: 4rem;
    padding-top: 4rem;
    color: #0098a1;
}

.contact .row .contact-form-container form input,textarea
{
    outline: none;
    border: .2rem solid #0098a1;
    height: 4rem;
    background: #fff;
    padding:0 1rem;
    margin: 1rem 0;
    font-size: 1.8rem;
    width: 49%;
}

.contact .row .contact-form-container form textarea
{
    width: 100%;
    padding: 1rem;
    resize: none;
    height: 20%;
}

.contact .row .contact-form-container form input[type="submit"]
{
    color: #0098a1;
    border: 2rem solid #0098a1;
    cursor: pointer;
    transition: .2s;
    width: 20rem;
}

.contact .row .contact-form-container form input[type="submit"]:hover
{
    color: #fff;
    background: #0098a1;

}

.newsletter
{
	padding: 2 rem;
	background-image: url('image2.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}

.newsletter p
{
	font-size: 2rem;
	color: #eee;
	padding: 1rem 5rem;
}

.newsletter form input
{
	outline: none;
	border: none;
	height: 5rem;
	
}

.newsletter form input[type="email"]
{
	width: 40rem;
	padding: 0 1rem;
	color: #fff;
	background: rgba(255,255,255,.2);
	font-size: 2rem;
}

.newsletter form input[type="email"]::placeholder
{
	color: #ccc;
	
}

.newsletter form input[type="submit"]
{
	width: 20rem;
	color: #fff;
	background: #0098a1;
	font-size: 2rem;
	cursor: pointer;
	margin-left: .1.1rem;
	transition: .2s;
}

.newsletter form input[type="submit"]:hover
{
	border: .2rem solid #fff;
	color: #fff;
	background: none;
}

.footer
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: #222;
}

.footer .credit
{
	font-size: 2rem;
	color: #eee;
}

.footer .credit span
{
	color: #0098a1;	
}

.footer .icons a
{
	font-size: 2rem;
	margin: 0 .5rem;
	height: 4rem;
	width: 4rem;
	line-height: 3.5rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	border: 2rem solid #fff;
	transition: .2s linear;
}

.footer .icons a:hover
{
	background: #0098a1;
	border: none;
}

.contact .row{
    flex-flow: column;
    align-items: flex-start;
}

.contact .row .contact-form-container{
    width: 90%;
    margin: 0 auto;
}

.newsletter padding
{
	padding: 1rem;
}

.newsletter input[type="email"]
{
	width: 100%;
	margin-bottom: 1rem;
	
}

.footer
{
	flex-flow: column;
}

.footer .credit
{
	text-align: center;
	padding-bottom: 3rem;
}









.contact .row .contact-form-container form input
{
    margin: 1rem 0;
    width: 100%;

}

.contact .row .contact-form-container form input[type="submit"]
{
    margin: 1rem 0;
    width: 100%;
    
}

